.body {
	display: flex;
	min-height: 100vh;
	margin: 0;
	flex-direction: column;
}

.main {
	padding-top: calc(var(--a--gap) * 3);
	padding-bottom: var(--a--gap);

	flex-grow: 1;

	// TODO add mixins to global scss see
	@include screen-xl {
		padding-top: calc(var(--a--gap) * 3);
		padding-bottom: var(--a--gap);
	}

	@include screen-lg {
		padding-top: calc(var(--a--gap) * 2);
		padding-bottom: var(--a--gap);
	}
}
